html {
    //pointer-events: none;
}
body {
    margin: 20px 0 0;
    background-color: #f3f3f3;
    color: #9a9796;
    //pointer-events: none;
    
    display: flex;
    > * {
        flex: 0 0 auto;
        &:first-child {
            margin-right: 20px;
        }
    }
    justify-content: center;
    align-items: flex-start;
    
    font-family: monospace;
    font-size: 13px;
}

.box {
    display: inline-block;
    font-size: 0;
    padding: 40px;

    
    .inner {
        padding: 0;
        width: 40px;;
        height: 40px;;
    }
    
    transition: background-color 0.3s;
    cursor: pointer;
    
    position: relative;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        width: 40px;
        line-height: 40px;
        text-align: center;
        
        font-size: 14px;
        //font-family: monospace;
        
        color: #000;
        
        opacity: 0;
        transition: opacity 0.3s;
    }
}

body > .box {
    background-color: #bbb;;
    &::after {
        content: 'b0';
        opacity: 1;
    }
    > .box:hover {
        background-color: lighten(#bbb;, 5%);
        &::after {
            content: 'b1';
            opacity: 1;
        }
        > .box:hover {
            background-color: lighten(#bbb;, 10%);
                &::after {
                content: 'b2';
                opacity: 1;
            }
            > .box:hover {
                background-color: lighten(#bbb;, 15%);
                &::after {
                    content: 'b3';
                    opacity: 1;
                }
                > .box:hover {
                    background-color: lighten(#bbb;, 20%);
                    &::after {
                        content: 'b4';
                        opacity: 1;
                    }
                }
            }
        }
    }
}

table {
    border-collapse: collapse;
    th, td {
        padding: 5px;
    }
    th {
        padding-top: 0;
        text-align: left;
    }
    &.empty tbody > tr:first-child {
        text-align: center;
    }
}